---
import Layout from "../../layouts/Layout.astro";
import EmailButton from "../../components/EmailButton.astro";
---

<Layout title="Niel Montesa // Designer">
  <main>
    <section id="hero" class="h-[100vh] w-full">
      <div class="text-center p-16 flex flex-col justify-center items-center">
        <h1 class="xl:text-8xl text-4xl font-black text-[var(--black)]">
          Design Archive
        </h1>

        <p class="text-lg pt-8 xl:w-1/3 text-[var(--inactive-gray)]">
          This page is for random designs I made for fun or practice!
        </p>

        <div class="pt-8 lg:pb-0 pb-8 flex xl:flex-row flex-col gap-2">
          <a href="/">
            <button
              class="text-[var(--white)] py-3 px-6 bg-[var(--black)] rounded-xl border border-[var(--border-gray)] font-bold hover:scale-[1.02] transition ease-in active:scale-90 hover:border-neutral-500"
              id="shadow">Check my Main Portfolio</button
            >
          </a>
          <EmailButton />
        </div>
      </div>
    </section>
  </main>
</Layout>
