---
import Layout from "../layouts/Layout.astro";
import EmailButton from "../components/EmailButton.astro";
---

<Layout title="Niel Montesa - Contact">
  <main class="xl:px-96 xl:py-20 px-8 py-20">
    <h1 class="xl:text-8xl text-4xl font-bold text-center">Let's chat!</h1>
    <p class="text-base leading-7 mt-4 text-[var(--inactive-gray)] text-center">
      If you have a project in mind, a design or dev problem, or if you just
      want to tell me about your day - feel free to reach out! <br />

      <div class="mt-4 flex items-center justify-center gap-2">
        <button
          class="text-[var(--black)] py-3 px-6 bg-[var(--white)] rounded-xl border border-[var(--border-gray)] font-bold hover:scale-[1.02] transition ease-in active:scale-90 hover:border-neutral-800"
          id="shadow">Book a Discovery Call</button
        >
        <EmailButton />
      </div>
    </p>

    <div
      class="mt-8 bg-[var(--bg-secondary)] p-4 rounded-lg border border-[var(--border-gray)]"
      id="shadow">
      <p class="text-base font-bold">Contact Form</p>

      <form
        name="contact"
        method="POST"
        data-netlify="true"
        class="flex mt-4 flex-col gap-4">
        <div class="flex gap-4 lg:flex-row flex-col w-full">
          <input
            name="Name"
            class="transition-all bg-[var(--light-gray)] p-2 rounded-md text-base outline-none hover:outline-[var(--border-gray)] active:outline-[var(--primary-gray)] focus:outline-[var(--border-gray)] placeholder-[var(--footer-gray)] w-full"
            type="text"
            placeholder="Your name"
            required
          />
          <input
            name="E-mail"
            class="transition-all bg-[var(--light-gray)] p-2 rounded-md text-base outline-none hover:outline-[var(--border-gray)] active:outline-[var(--primary-gray)] focus:outline-[var(--border-gray)] placeholder-[var(--footer-gray)] w-full"
            type="email"
            placeholder="Your e-mail"
            required
          />
        </div>
        <textarea
          name="Message"
          class="transition-all bg-[var(--light-gray)] p-2 rounded-md text-base outline-none hover:outline-[var(--border-gray)] active:outline-[var(--primary-gray)] focus:outline-[var(--border-gray)] placeholder-[var(--footer-gray)]"
          required
          rows="10"
          placeholder="Your message"></textarea>
        <button
          type="submit"
          id="submit"
          class="bg-[var(--button-gray)] text-[var(--primary-white)] hover:shadow-lg hover:scale-[1.005] transition-all flex items-center p-4 justify-center gap-2 rounded-md active:bg-[var(--border-gray)] border border-[var(--border-gray)]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="16"
            height="16"
            fill="currentColor">
            <title>content-copy</title>
            <path
              d="M8,7.71L18,12L8,16.29V12.95L15.14,12L8,11.05V7.71M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4Z"
            ></path>
          </svg>
          Send Message
        </button>
      </form>
    </div>
  </main>
</Layout>

<script is:inline>
  document.addEventListener("astro:page-load", function () {
    // Get the form element
    var contactForm = document.forms.contact;

    // Get the button element
    var copyButton = document.getElementById("submit");
    var originalContent = copyButton.innerHTML;

    // Email to copy
    var emailToCopy = "design@nielmontesa.com";

    // Add submit event listener to the form
    contactForm.addEventListener("submit", function (event) {
      // Check if form fields are filled
      var nameInput = document.querySelector('input[placeholder="Your name"]');
      var emailInput = document.querySelector(
        'input[placeholder="Your e-mail"]'
      );
      var messageInput = document.querySelector(
        'textarea[placeholder="Your message"]'
      );

      if (
        nameInput.value.trim() === "" ||
        emailInput.value.trim() === "" ||
        messageInput.value.trim() === ""
      ) {
        // If any of the fields is empty, do not prevent default form submission
        return;
      }

      // Create a textarea element to hold the text to copy
      var textArea = document.createElement("textarea");
      textArea.value = emailToCopy;
      document.body.appendChild(textArea);

      // Select the text inside the textarea
      textArea.select();

      try {
        // Execute copy command
        document.execCommand("copy");
        // Change the button text to 'Message sent!'
        copyButton.innerHTML = "Message sent!";

        // Create a new svg element with the desired path
        var checkSvg = document.createElementNS(
          "http://www.w3.org/2000/svg",
          "svg"
        );
        checkSvg.setAttribute("xmlns", "http://www.w3.org/2000/svg");
        checkSvg.setAttribute("viewBox", "0 0 24 24");
        checkSvg.setAttribute("width", "16");
        checkSvg.setAttribute("height", "16");
        checkSvg.innerHTML =
          '<title>check</title><path d="M21,7L9,19L3.5,13.5L4.91,12.09L9,16.17L19.59,5.59L21,7Z" />';
        // Set styles to match button text color and hover effects
        checkSvg.setAttribute("fill", "currentColor");

        // Insert the new svg element before the text content
        copyButton.insertBefore(checkSvg, copyButton.firstChild);

        // Log a message indicating successful form submission
        console.log("Form submitted successfully!");
      } catch (err) {
        console.error("Unable to copy", err);
      }

      // Remove the textarea from the document
      document.body.removeChild(textArea);

      // You may want to reset the text and remove the appended svg after some time (e.g., 2 seconds)
      setTimeout(function () {
        // Reset the button text and content to the original state
        copyButton.innerHTML = originalContent;
        copyButton.removeChild(copyButton.firstChild);
      }, 5000);
    });
  });
</script>
