<section
  class="flex justify-center items-center flex-col bg-[#171717] py-32 border-t border-t-[var(--border-gray)] w-full">
  <h1 class="text-4xl font-black">Need some design work done?</h1>

  <p class="text-base pt-4 text-[#E2E2E2] text-center">
    Schedule a free consultation call today to discover if I'm the perfect <br
    />
    designer for your project! Let's make your vision happen!
  </p>

  <div class="mt-8">
    <button
      class="py-3 px-6 px-bg-[var(--cta-gray)] rounded-xl border border-[var(--border-gray)] font-bold hover:scale-[1.02] transition ease-in active:scale-90 hover:border-neutral-500 xl:block hidden xl:m-0 mx-2 xl:w-auto w-[96%]"
      id="shadow">Get a Quote</button
    >
  </div>
</section>
<footer>
  <div class="flex gap-2 items-center xl:justify-center">
    <img src="niel-tortl.svg" alt="" />
    <span class="text-xl font-bold"> niel montesa</span>
  </div>
</footer>

<style>
  section {
    background-image: url("../../public/tortls.png");
  }
</style>
