---
import { Icon } from "astro-icon/components";
---

<section
  class="flex justify-center items-center flex-col bg-[var(--white)] py-32 border-t border-t-[var(--border-gray)] w-full mt-16">
  <h1 class="xl:text-4xl text-xl text-[var(--black)] font-black text-center">
    Need some design work done?
  </h1>

  <p
    class="text-lg font-semibold pt-4 text-[var(--inactive-gray)] text-center xl:p-auto px-3 xl:w-1/3">
    Schedule a free discovery call today to figure out if I'm the perfect
    designer for your project! Let's make your vision happen!
  </p>

  <div class="mt-8">
    <button
      class="py-3 px-6 bg-[var(--cta-gray)] rounded-xl border border-[var(--border-gray)] font-bold hover:scale-[1.02] transition ease-in active:scale-90 hover:border-neutral-500 xl:m-0 mx-2 xl:w-auto w-[96%] text-[var(--black)]"
      id="shadow">Get a Quote</button
    >
  </div>
</section>
<footer
  class="py-16 xl:px-36 px-12 border-t border-t-[var(--border-gray)] bg-[var(--nav-gray)]">
  <div
    class="flex w-full xl:flex-row flex-col xl:justify-evenly justify-between gap-10">
    <div>
      <ul class="flex flex-col gap-2">
        <li class="font-bold text-[var(--black)]">Niel Montesa</li>
        <li>
          <a
            href="#"
            class="text-[var(--footer-gray)] hover:text-[var(--black)]"
            >About Me</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--footer-gray)] hover:text-[var(--black)]"
            >Contact</a
          >
        </li>
      </ul>
      <div class="mt-2">
        <a href="#">
          <Icon
            name="mdi:instagram"
            class="inline bg-inherit text-[var(--footer-gray)] hover:text-[var(--black)] text-2xl"
          />
        </a>
        <a href="#">
          <Icon
            name="mdi:twitter"
            class="inline bg-inherit text-[var(--footer-gray)] hover:text-[var(--black)] text-2xl"
          />
        </a>
        <a href="#">
          <Icon
            name="mdi:linkedin"
            class="inline bg-inherit text-[var(--footer-gray)] hover:text-[var(--black)] text-2xl"
          />
        </a>
      </div>
    </div>
    <div>
      <ul class="flex flex-col gap-2">
        <li class="font-bold text-[var(--black)]">Portfolio</li>
        <li>
          <a
            href="#"
            class="text-[var(--footer-gray)] hover:text-[var(--black)]"
            >Web Design</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--footer-gray)] hover:text-[var(--black)]"
            >Book Covers</a
          >
        </li>
      </ul>
    </div>
    <div>
      <ul class="flex flex-col gap-2">
        <li class="font-bold text-[var(--black)]">Writing</li>
        <li>
          <a
            href="#"
            class="text-[var(--footer-gray)] hover:text-[var(--black)]">Blog</a
          >
        </li>
        <li>
          <a
            href="#"
            class="text-[var(--footer-gray)] hover:text-[var(--black)]"
            >Medium</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div
    class="flex w-full flex-col xl:flex-row justify-center xl:items-center gap-6 mt-24 xl:px-80">
    <span class="text-[#b8b8b8]"
      >Proudly developed using <a
        href="https://astro.build"
        target="_blank"
        class="underline">astro.build</a
      >
    </span>
    <span class="text-[#b8b8b8]">© Niel Montesa 2023</span>
    <span class="text-[#8a8a8a] underline"> <a href="#">Jump to Top</a></span>
  </div>
</footer>

<style>
  section {
    background-image: url("../../public/tortls.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
